@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #111111;
  --main-text-color: #ffffff;
  --highlight-color: #0bda57;
  --secondary-highlight-color: #22c55e;
  --tertiary-highlight-color: #39ac63;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

.text-highlight {
  color: var(--highlight-color);
}

.movedCurtain {
  top: -200%;
}
