@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

:root {
    --main-bg-color: #000000;
    --main-text-color: #FFFFFF;
    --highlight-color: #0BDA57;
    --secondary-highlight-color: #22C55E;
    --tertiary-highlight-color: #39AC63;
}

body {
    font-family: 'Poppins', sans-serif;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;
}