@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap");

:root {
  --main-bg-color: #111111;
  --main-text-color: #ffffff;
  --highlight-color: #0bda57;
  --secondary-highlight-color: #22c55e;
  --tertiary-highlight-color: #39ac63;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto Mono", monospace;
}

.text-highlight {
  color: var(--highlight-color);
}